<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="style.css" />
    <title>Addresses</title>
  </head>
  <body>
    <h1>Addresses</h1>
    <ul>
      {{ range $town, $as := .AddrByTown }}
      <h2>{{ $town }}</h2>
      {{ range $a := $as }}
      <li>
        <strong>{{ $a.Name }}</strong> - {{ $a.Town }}<br />
        {{ $a.Address }}<br />
        {{ $a.Comment }}
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </body>
</html>
